# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info/
dist/
build/
venv/
env/
.env
.venv

# Visual Studio Code
.vscode/
*.code-workspace

# IDEs
.idea/
*.iml

# OS
.DS_Store
Thumbs.db
